@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
	font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

p {
	@apply text-base;
}

section {
	@apply p-4;
}

button, .button {
	@apply rounded-lg border-2 border-white p-2 hover:bg-white hover:text-gray-800;
}